body {
  font-family: 'Open Sans', sans-serif;
}

/* Detail Component */

#detail h2 {
  font-weight: 300;
}

#detail h3 {
  font-weight: 300;
}

.placeholder-circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: darkgreen;
  margin-right: 10px;
}

.data-set {
  display: flex;
  align-items: center;
  justify-content: left;
}